@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-image: url("/top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* 背景画像を固定する */
  min-height: 100vh; /* 画面の高さに合わせる */
  padding: 20px;
  color: #fff; /* テキストの色を白に設定 */
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btn-absolute {
  position: absolute;
  right: 360px;
  bottom: 5px;
  display: inline-block;
}

.btn-absolute:active {
  /*ボタンを押したとき*/
  border: none;
  -webkit-transform: translate(6px, 6px);
  transform: translate(6px, 6px);
}

.btn-absolute:active:after,
.btn-square-slant:active:before {
  content: none; /*ボタンを押すと線が消える*/
}

.rensou {
  position: absolute;
  right: 170px;
  bottom: 250px;
  display: inline-block;
}

.rensou:active {
  /*ボタンを押したとき*/
  border: none;
  -webkit-transform: translate(6px, 6px);
  transform: translate(6px, 6px);
}

.rensou:active:after,
.btn-square-slant:active:before {
  content: none; /*ボタンを押すと線が消える*/
}

.aishou {
  position: absolute;
  right: 170px;
  bottom: 50px;
  display: inline-block;
}

.aishou:active {
  /*ボタンを押したとき*/
  border: none;
  -webkit-transform: translate(6px, 6px);
  transform: translate(6px, 6px);
}

.aishou:active:after,
.btn-square-slant:active:before {
  content: none; /*ボタンを押すと線が消える*/
}
