@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.absolute {
  position: absolute;
  right: 360px;
  bottom: 5px;
  display: inline-block;
}

.rensou {
  position: absolute;
  right: 170px;
  bottom: 250px;
  display: inline-block;
}

.aishou {
  position: absolute;
  right: 170px;
  bottom: 50px;
  display: inline-block;
}
