@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-image: url("/top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* 背景画像を固定する */
  min-height: 100vh; /* 画面の高さに合わせる */
  padding: 20px;
  color: #fff; /* テキストの色を白に設定 */
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.absolute {
  position: absolute;
  right: 360px;
  bottom: 5px;
  display: inline-block;
}

.rensou {
  position: absolute;
  right: 170px;
  bottom: 250px;
  display: inline-block;
}

.aishou {
  position: absolute;
  right: 170px;
  bottom: 50px;
  display: inline-block;
}
